<h1>My Events</h1>

<div id = "my_events">
  <% @my_events.reverse.each do |event| %>
    <div>
      <%= link_to event.name, event %>
    </div>
  <% end %>
</div>

<div id = "attended_events">
  <div id = "Upcoming_events">
    <h3>Upcoming Events:</h3>
    <% @attended.each do |event| %>
      <% if event.date >= Time.current %>
        <li>
          <%= link_to event.name, event %>
        </li>
      <% end %>
    <% end %>
  </div>

  <div id = "past_events">
  <h3>Attended Events:</h3>
    <% @attended.each do |event| %>
      <% if event.date < Time.current %>
        <li>
          <%= link_to event.name, event %>
        </li>
      <% end %>
    <% end %>
  </div>
