<h1>List of all events</h1>

<div id = "all_future_events">
  <h3>Upcoming Events:</h3>
  <% @events.future.reverse.each do |event| %>
    <div>
      <%= link_to event.name, event %>
    </div>
  <% end %>
</div>

<div id = "all_past_events">
  <h3>Previous Events:</h3>
  <% @events.past.reverse.each do |event| %>
    <div>
      <%= link_to event.name, event %>
    </div>
  <% end %>
</div>