<h3><%=@event.location%></h3>
<p> <%=@event.date%> </p>

<section>
    <h3>List of attendees:</h3>
    <ul>
        <% @event.attendees.each do |person| %>
        <li>
            <%= person.email %>
        </li>
        <%end%>
    </ul>
</section>